<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>778160876377-0a9evrlfq98aou811cl7igjdq6qf2lh5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778160876377-0a9evrlfq98aou811cl7igjdq6qf2lh5</string>
	<key>API_KEY</key>
	<string>AIzaSyB3HpN4ZJWLWbMn6MLfgvQjJrmX2enyfR8</string>
	<key>GCM_SENDER_ID</key>
	<string>778160876377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sg.mad2.FinGrowth---Finance-Manager</string>
	<key>PROJECT_ID</key>
	<string>fingrowth-74e44</string>
	<key>STORAGE_BUCKET</key>
	<string>fingrowth-74e44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778160876377:ios:aaef36094483f67b787a48</string>
</dict>
</plist>